@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Test</title>
</head>
<body>
    s
<h1 class="Header"  style="text-align: center;">
    Your Team for this week!
</h1>
    <hr/>
    <section class="veld-container">
        <img src="/Images/voetbalveld.jpg" alt="Voetbalveld" class="veld" style="width: 800px; height: 363px;">

        <!-- Shirt 1 -->
        <img src="/Images/Shirts/Keepers shirt.png" alt="Keeper" class="shirt shirt-1">

        <!-- Shirt 2 -->
        <img src="/Images/Shirts/Spelers shirt.png" alt="Ved 1" class="shirt shirt-2">
    </section>

</body>
</html>